* {
    margin: 0%;
    padding: 0%;
    color: rgb(255, 255, 255);
}

.corpo{
    font-family: 'Playfair', serif;
}

.pimentas-jogadas{
    width: 13%;
    padding: 0 0 0 50px;
}

.cabecalho{
    display: flex;
    background-image: linear-gradient(#244d29, #244d29);
    padding: 25px 50px;
    align-items: center;
}

.segundo-c{
    font-size: 60px;
}

.cabecalho-titulo{
    align-items: center;
    padding: 0 0 0 150px;
    font-size: 55px;
}

.insta{
    width: 13%;
    padding: 0 0 0 100px;
}

.cabecalho2{
    padding: 100px 0;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(#244d29, #1cd334);
    display: flex;
    justify-content: center;
}

.cabecalho2-div{
    width: 35%;
    padding-left: 200px;
}

.pro{
    font-size: 45px;
}

.pimente-p{
    padding: 15px 0 25px 0;
    font-size: 20px;
}

.caracteristicas-lista {
    font-size: 20px;
}

.pimente-pi{
    padding: 25px 0;
    font-size: 20px;
}

.ano-letivo{
    padding: 30px 0 0 0;
    font-size: 20px;
}

.pimenta-exemplo{
    width: 27.5%;
    padding-left: 340px;
    padding-top: 50px;
}

.grupo-3{
    font-size: 20px;
    padding-left: 300px;
}

.adulta.div{ 
    justify-content: center;
}




.semana-1{
    padding: 75px 0 0 75px;
    background-image: linear-gradient(#1cd334, #5fc656);
}

.titulos-semana-1{
    display: flex;
}

.semana-1-titulo{
    font-size: 60px;
    padding: 0 0 0 200px;
}

.plantar-titulo{
    font-size: 60px;
    padding: 0 0 0 200px;
}

.copos{
    display: flex;
}

.copo-1{
    width: 15%;
    padding: 100px 0 0 0;
}

.copo-1-texto{
    width: 50%;
    padding: 100px 0 0 50px;
    font-size: 25px;
}

.copo-1-texto-2{
    width: 50%;
    padding: 185px 0 0 50px;
    font-size: 18px;
}

.copos-2{
    display: flex;
}

.copo-3{
    width: 15%;
    padding: 20px 0 60px 0;
}

.texto-copo-3{
   width: 35%;
   padding: 280px 0 0 50px;
   font-size: 25px;
}



.semana-2{
    padding: 75px 0 0 75px;
    background-image: linear-gradient(#5fc656, #1cd334);
}

.titulos-semana-2{
    display: flex;
}

.semana-2-titulo{
    font-size: 45px;
    padding: 0 0 0 200px;
}

.titulo-vaso{
    font-size: 45px;
    padding: 0 0 0 200px;
}

.rodape{
    background-color: #5fc656;
}

.ultimo{
    padding: 0 0 0 480px;
}