* {
    margin: 0%;
    padding: 0%;
    }
    
.cabecalho{
    background-color:(#1cd334);
    color: rgb(255, 255, 255);
}
.cabecalho2{
    background-image: linear-gradient(#1cd334, #387740);
    color: rgb(255, 255, 255);
    width: 0px 0px 0px 20px;
}
.introducao{
    background-color: #8cff92c7;
    color: rgb(255, 255, 255);
}
.fatores-plantio{
    list-style: none;
}