* {
    margin: 0%;
    padding: 0%;
    }
    
.cabecalho{
    background-image: linear-gradient(#387740, #1cd334);
    color: rgb(255, 255, 255);
}
.corpo{
    background-image: linear-gradient(#1cd334, #387740);
    color: rgb(255, 255, 255);
}
.propriedades{
    margin: 10px 0px 0px 0px;
}