* {
    margin: 0%;
    padding: 0%;
}

.pimentas-jogadas{
    width: 12%;
}

.cabecalho{
    display: flex;
    background-image: linear-gradient(#2b5e32, #1cd334);
    padding: 24;
    justify-content: space-around;
    align-items: center;
}

.cabecalho2{
    background-color: (#1cd334,);
    color: rgb(255, 255, 255);
}