* {
    margin: 0%;
    padding: 0%;
}

.pimentas-jogadas{
    width: 20%;
}

.cabecalho{
    justify-content: baseline;
    background-image: linear-gradient(#2b5e32, #1cd334);
}

.cabecalho2{
    background-color: (#1cd334,);
    color: rgb(255, 255, 255);
}