* {
    margin: 0%;
    padding: 0%;
}

.pimentas-jogadas{
    width: 1%;
}

.cabecalho{
    justify-self: start;
    background-image: linear-gradient(#2b5e32, #1cd334);
}

.cabecalho2{
    background-image: linear-gradient(#1cd334,);
    color: rgb(255, 255, 255);
}