* {
    margin: 0%;
    padding: 0%;
}

.pimentas-jogadas{
    width: 12%;
    padding: 0 24px;
}

.cabecalho{
    display: flex;
    background-image: linear-gradient(#2b5e32, #1cd334);
    padding: 24px 24px;
    justify-content: flex-start;
}

.segundo-c{
    margin: 24px;
}

.cabecalho-titulo{
    margin: 150%;
}

.cabecalho2{
    background-color: (#1cd334,);
    color: rgb(255, 255, 255);
}